#stackedbar {
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

#choropleth {
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

#bar1 {
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

#bar2 {
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

body {
    font-family: 'Open Sans', sans-serif;
}

p {
    color: #303030;
}

h2 {
    color: #303030;
}
